@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
body {
  margin: 16px 0;
  overflow-x: hidden;
}
nav .navbar-header {
  width: 100%;
}
nav .navbar-header .navbar-brand {
  width: 100%;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.right {
  float: right;
}
.on-hold {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-color: #eee;
}
#items-wrapper {
  float: left;
  padding: 0;
}
#items-wrapper li {
  float: left;
  list-style: none;
  margin-bottom: 36px;
}
#items-wrapper li .item-cover {
  width: 100%;
}
#items-wrapper li h2 {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 17px;
}
#items-wrapper li h4 {
  font-family: Airal;
  font-size: 13px;
  margin: 4px 0;
}
#items-wrapper li a.vote {
  text-decoration: none;
}
#items-wrapper li a.vote span {
  font-size: 22px;
}
#items-wrapper li .bulk-vote,
#items-wrapper li .submit {
  text-align: center;
}
#items-wrapper li .submit {
  display: block;
  margin-bottom: -30px;
}
#items-wrapper li .submit.not-visible {
  visibility: hidden;
}
#items-wrapper li .submit.visible {
  visibility: visible;
}
#items-wrapper li:nth-child(4n+5) {
  clear: left;
}
#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 300px;
  margin: -150px 0 0 -350px;
  padding: 30px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  z-index: 9999;
}
#modal .glyphicon {
  font-size: 27px;
}
